@use "../structure/colors.scss" as color;

.products{
    padding: 0 1.5rem 4rem;
    background-color: #0a0c10;
    .artscape-collection{
        padding: 1.8rem 0;
        text-align: center;
        font-size: 2.3rem;
        font-weight: 600;
        color: color.$primary;

    }
    .products-container{
        display: grid;
        justify-items: center;
        gap: 2rem;
        @media (min-width: 576px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        @media (min-width: 880px) {grid-template-columns: repeat(3, minmax(0, 1fr));}
        @media (min-width: 1280px) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }

        .product{
            width: auto;
            text-align: center;
            border: 1px solid #d1bc9f51;
            border-radius: 1rem;
            background-color: black;
            // min-width: 80%;

            .product-content{
                padding: 1rem;
                .product-image{
                    height: 15rem;
                    border-radius: 0.5rem;
                }
                
                .product-text{
                    width: 100%;
                    .table-title{
                        margin: 0.7rem 0;
                        color: color.$primary;
                        font-size: 1.2rem;
                        font-weight: 500;
                    }
                    del{
                        font-size: 1.1rem;
                        margin-right: 0.5rem;
                        color: red;
                    }
                    span{
                        font-size: 1.2rem;
                        color: color.$primary;
                    }
                }
                
            }
        
            .add-to-cart {
                display: block; 
                padding: 1rem 1.2rem;
                position: relative;
                border-radius: 0 0 1rem 1rem;
                font-weight: 600;
                cursor: pointer;
                overflow: hidden; // keep animation inside
                color: color.$primary;
                // color: rgba(255, 255, 255, 0.744);
                background-color: rgb(0, 0, 0);
                z-index: 1;
                text-align: center;
                border-top: 1px solid #d1bc9f51;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(37, 35, 35, 0.75) ;// hover background color
                    clip-path: circle(0% at 50% 50%);
                    transition: clip-path cubic-bezier(0, 0.50, 1, 1.1) 0.5s;
                    z-index: -1;
                }

                &:hover::after {
                    clip-path: circle(110% at 50% 50%);
                }
            }

        }
    }
}
