@use "./colors.scss" as color;

.footer{
    padding: 0rem 3rem 6rem;

    .footer-container{
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 1.5rem;
        @media (min-width: 1024px) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
        
        .footer-col{
            
            .footertitle{
                margin-top: 0;
                color: color.$primary;
                font-size: 1.2rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }
            .footer-links{
                display: flex;
                flex-direction: column;
                gap: 0.8rem;

                .footer-link{
                    color: rgba(255, 255, 255, 0.8);
                    width: 8rem;
                    font-size: 0.9rem;
                    font-weight: 400;
                    align-items: center;
                    display: flex;
                    
                    div{
                        display: block;
                        width: 0.4rem;
                        height: 0.4rem;
                        border: 1px solid white;
                        border-radius: 50%;
                        margin-right: 0.5rem;
                    }
                }

                .footer-link:hover{
                    color: white;
                    font-weight: 500;
                    div{
                        background-color: color.$primary;
                    }
                }
            }

            .social{
                a{
                    margin: 0 1rem 0 0;
                    color: rgba(255, 255, 255, 0.8);
                }
            }
            address{
                font-style: normal;
                opacity: 0.8;
            }
        }
    }
    .footer-container2{
        margin: 2rem 0;
        display: flex;
        justify-content: space-between;
        .artscape_logo{
            width: 150px;
            height: auto;
        }
        .ota_logo{
            width: 100px;
        }
    }
    
}