.topBar {
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  z-index: 9;
  background-color: rgba(6, 7, 9, 0.5);
  padding: 0px 10px;
  position: sticky;
  height: 65px;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(16px);
  box-sizing: border-box;

  .artscape_logo{
      padding-top: 3px;
      width: 180px;
      height: auto;
  }

  .mainMenu{
    display: flex;
    transition: max-height 0.3s ease;    

    @media (max-width: 768px) {
      position: absolute;
      top: 65px;
      left: 0;
      width: 100%;
      background-color: #191919;
      flex-direction: column;
      align-items: center;
      max-height: 0;
      overflow: hidden;
    }

    .mainMenu-item{
      margin: 0 15px;
      color:rgba(255, 255, 255, 0.8);

      
      @media (max-width: 768px) {
        margin: 15px 0; 
      }
    }
    .mainMenu-item:hover{
        color: white;
      }
  }

  .open {
    @media (max-width: 768px) {
      max-height: 300px;
    }
  }

  .contactus{
    background-color: #d1bc9f;
    font: bolder;
    color: black;
    border: 1px solid;
    border-radius: 99px;
    padding: 5px 12px;
    @media (max-width: 768px) {margin-left: 10px;}
  }
  .menu-toggle {
    display: none;
    background: none;
    border: none;
    @media (max-width: 768px) {display: block;}
  }
}




