html{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: black;
    color: white;
    text-transform: capitalize;
    margin: 0;
    -webkit-font-smoothing: antialiased; /* better font rendering */
    -moz-osx-font-smoothing: grayscale;
}

link{
    cursor: pointer;
    text-decoration: none;
}
a{
    cursor: pointer;
    text-decoration: none;
}
button{
    cursor: pointer;
}